<link rel="stylesheet" href="/css/archives.css" />

<!--Navigation Bar-->
<%- include('../partials/user/header-navbar.ejs'); %>

    <div class="main">
        <!--Sidebar-->
        <%- include('../partials/user/sidebar.ejs'); %>

          <!-- <pre><%= JSON.stringify(dashboard, null, 2) %></pre> -->

            <!--Main Content-->
            <div class="content">
                <div class="dashboard-cards">
                    <div class="card">
                        <p>Rents</p>
                        <span class="count" id="rents-count"><%= dashboard.total_items_rented %></span>
                    </div>
                    <div class="card">
                        <p>Pending Posts</p>
                        <span class="count" id="pending-posts-count"><%= dashboard.total_pending_posts %></span>
                    </div>
                    <div class="card">
                        <p>Rental Request</p>
                        <span class="count" id="rental-request-count"><%= dashboard.total_items_rent_request %></span>
                    </div>
                    <div class="card">
                        <p>Item Posted</p>
                        <span class="count" id="item-posted-count"><%= dashboard.total_items_posted %></span>
                    </div>
                </div>
            </div>

            <!-- Logout Confirmation Modal -->
            <div id="logout-modal" class="logout-modal">
                <div class="logout-content">
                    <p>Are you sure you want to log out?</p>
                    <div class="logout-button-group">
                        <button id="confirm-logout" class="yes-btn">Yes</button>
                        <button id="cancel-logout" class="no-btn">No</button>
                    </div>
                </div>
            </div>
    </div>

    <!--JavaScript-->
    <script src="/js/user.js"></script>