<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard | <%= title %></title>
        <link rel="web icon" type="png" href="images/webicon.png">
        <%- style %>
    </head>
    <body>
        <!-- Place your HTML elements here if you want to make them always visible -->

        <!-- This body tag is dynamically replaced in your view files -->
        <%- body %>

        <%- include('../partials/refresh-token-script') %>
        <%- script %>
    </body>
</html>